.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2rem;
}

input {
  font-size: 1rem;
}

.country-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  border: solid 1px black;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.card > .header {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: x-large;
}
.card > .body {
  font-size: 1rem;
  color: #777;
}

.hide {
  display: none;
}
